XMLSchemas/tcdl1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Christophe Strobbe (Katholieke Universiteit Leuven) -->
<!-- edited with jEdit 4.2 (http://www.jedit.org) by Christophe Strobbe (Katholieke Universiteit Leuven) -->
<!-- !DOCTYPE xs:schema PUBLIC "-//W3C//DTD XMLSCHEMA 200102//EN" "http://www.w3.org/2001/XMLSchema.dtd"-->
<xs:schema targetNamespace="http://bentoweb.org/refs/TCDL1" elementFormDefault="qualified" attributeFormDefault="unqualified" xml:lang="en" xmlns="http://bentoweb.org/refs/TCDL1" xmlns:btw="http://bentoweb.org/refs/TCDL1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:html="http://www.w3.org/1999/xhtml">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
  <xs:import namespace="http://purl.org/dc/elements/1.1/" schemaLocation="http://dublincore.org/schemas/xmls/simpledc20021212.xsd"/>
  <!-- According to Xerces, there are errors in the regular expressions in the W3C XML Schema for XHTML 1.0 Strict, 2nd edtion. -->
  <!--xs:import namespace="http://www.w3.org/1999/xhtml" schemaLocation="http://www.w3.org/2002/08/xhtml/xhtml1-strict.xsd"/-->
  <!-- Does not validate with Xerces' xni.XMLGrammarBuilder because of regular expressions in simpleTypes Lengt, MultiLength and Coords -->
  <!--xs:import namespace="http://www.w3.org/1999/xhtml" schemaLocation="http://canada.esat.kuleuven.be/bentoweb/xhtml1-strict-btw.xsd"/-->
  <!-- Corrects the regular expressions that cause errors in Xerces, but is too liberal because + and - are allowed in attributes where this makes no sense. -->
  <xs:import namespace="http://www.w3.org/1999/xhtml" schemaLocation="http://www.w3.org/2004/07/xhtml/xhtml1-strict.xsd"/>
  <!-- Also corrects the regular expressions and makes them more sensible; see http://lists.w3.org/Archives/Public/www-html/2005May/0002. -->
  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="http://bentoweb.org/refs/schemas/xlink.xsd"/>
  <!-- xhtml 1.0 strict: http://www.w3.org/TR/2002/REC-xhtml1-20020801/DTD/xhtml1-strict.dtd or  http://www.w3.org/2002/08/xhtml/xhtml1-strict.xsd (http://www.w3.org/TR/2002/NOTE-xhtml1-schema-20020902/) -->
  <!-- There is no normative schema for XLink; see http://www.w3.org/TR/2001/REC-xlink-20010627/#sample-dtd-appx -->
  <!-- The XML Schema for XML Schema 1.0 is at http://www.w3.org/2001/XMLSchema.xsd -->
  <xs:element name="testCaseDescription">
    <xs:annotation>
      <xs:documentation xml:lang="en">A test case is a file or set of files that demonstrate how markup in a specific technology may pass or fail with regard to a WCAG checkpoint (WCAG 1.0) or success criterion (WCAG 2.0). </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="formalMetadata">
          <xs:annotation>
            <xs:documentation xml:lang="en">Formal metadata are "administrative" information (as opposed to semantic metadata).</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="description" type="htmlInline">
                <xs:annotation>
                  <xs:documentation xml:lang="en">A long title or a short description</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="title" type="htmlInline">
                <xs:annotation>
                  <xs:documentation xml:lang="en">A short title</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element ref="dc:creator"/>
              <xs:element ref="dc:language"/>
              <xs:element ref="dc:rights"/>
              <xs:element name="date">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Date in ISO 8601 format: yyyy-mm-dd. Note: the restriction (start date and end date of BenToWeb) was added for internal use only, but should be removed when TCDL is submitted to W3C or elsewhere.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:date">
                    <xs:minInclusive value="2004-10-01"/>
                    <xs:maxInclusive value="2007-09-30"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="source" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="en">The source element must be used if the test case is borrowed from an existing test suite.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="testSuite">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">The test suite from which the test case is borrowed.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="htmlInline">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">The name of the test suite. Use the name provided by the developers of the test suite.</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute ref="xlink:href"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="sourceFile">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">The original file that was borrowed.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element ref="dc:creator"/>
                        </xs:sequence>
                        <xs:attribute name="changed" type="xs:boolean" use="required">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Indicate whether the borrowed file was modified before inclusion. Even a small change such as conversion from HTML 4.01 to XHTML 1.0 counts as a change.</xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute ref="xlink:href" use="required"/>
                        <!-- deleted: type="xs:anyURI"  -->
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute ref="xml:lang" use="optional"/>
                  <!-- deleted: type="xs:language"   -->
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute ref="xml:lang" use="optional"/>
            <!-- deleted: type="xs:language"   -->
          </xs:complexType>
        </xs:element>
        <xs:element name="technology">
          <xs:annotation>
            <xs:documentation xml:lang="en">A description of the features of the file format of the test case</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence maxOccurs="unbounded">
              <xs:element name="recommendation">
                <xs:annotation>
                  <xs:documentation xml:lang="en">The file format (proprietary,  W3C recommendation or other) of the test case. There is one recommendation element for each file format used by the test case.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="label" type="htmlInline">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">The name of the file format</xs:documentation>
                      </xs:annotation>
                      <!-- complexType (with only ATT xml:lang) deleted in favour of type="htmlInline" on 2005-07-14 -->
                    </xs:element>
                    <xs:element name="testElements" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">A description of the elements or features used by the test case. This element can be omitted for binary formats (PDF, Flash, &#8230;).</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="testElement" maxOccurs="unbounded">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">A description of a specific element or feature. There is one 'testElement' for each feature. For CSS, provide the name of the rule, selector, property, property value, &#8230; For proprietary elements and attributes (Microsoft's bgsound, Netscape's embed, etcetera), provide a link to the company's documentation.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Choose between 'specReference' and 'specQuote'. Using 'specReference' is preferred.</xs:documentation>
                                </xs:annotation>
                                <xs:element name="elementName">
                                  <xs:annotation>
                                    <xs:documentation xml:lang="en">The name of the element or feature.</xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:attribute name="localname" type="xs:string" use="required"/>
                                    <xs:attribute name="namespace" type="xs:anyURI" use="optional"/>
                                    <xs:attribute ref="xml:lang" use="optional"/>
                                    <!-- deleted: type="xs:language"   -->
                                  </xs:complexType>
                                </xs:element>
                                <xs:choice>
                                  <xs:element name="specReference" minOccurs="0">
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">The title of the relevant section in the specification. Use the title provided by the specification wherever possible; otherwise provide a succinct and meaningful title for the relevant section in the specification.</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType mixed="true">
                                      <xs:complexContent mixed="true">
                                        <xs:extension base="htmlInline">
                                          <xs:attribute ref="xlink:href"/>
                                        </xs:extension>
                                      </xs:complexContent>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element name="specQuote" type="htmlInline" minOccurs="0">
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">A quote from the relevant section of the specification. 'specQuote' can be used if it is not possible to provide an exact pointer to the relevant section in the specification.</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                </xs:choice>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute ref="xlink:href"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute ref="xml:lang" use="optional"/>
            <!-- deleted: type="xs:language"   -->
            <!-- attribute added 2005-07-14 -->
          </xs:complexType>
        </xs:element>
        <xs:element name="testCase">
          <xs:annotation>
            <xs:documentation xml:lang="en">Describes what is necessary for the evaluation of the test case</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="requirements">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="instructions" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Instructions to the end user who evaluates the test case. This information should be editable by the evaluation team.  The xml:lang attribute is required; there should be one set of instructions per language represented in the evaluation panel. The languages should match those used for userGuidance.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence maxOccurs="unbounded">
                          <xs:element ref="btw:p"/>
                        </xs:sequence>
                        <xs:attribute ref="xml:lang" use="required"/>
                        <!-- deleted: type="xs:language"   -->
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="userGuidance" minOccurs="0" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Additional guidance to the end user who evaluates the test case, especially with regard to the configuration of their user agent and/or assistive technology. This information should be editable by the evaluation team. The xml:lang attribute is required; there should be one set of instructions per language represented in the evaluation panel. The languages should match those used for instructions.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence maxOccurs="unbounded">
                          <xs:element ref="btw:p"/>
                        </xs:sequence>
                        <xs:attribute ref="xml:lang" use="required"/>
                        <!-- deleted: type="xs:language"   -->
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="requiredTests">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="scenario" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Scenarios describe what combinations of technologies and experience a test case should be evaluated with. This information should be editable by the evaluation team. (Scenarios need not be defined for automatic testing.)</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="experience" maxOccurs="3">
                                  <xs:annotation>
                                    <xs:documentation xml:lang="en">A user's level of experience. There are three categories: the output medium (e.g. speech, braille, &#8230;), the user agent (browser, XFormsRenderer, &#8230;) and the file format. It is not always necessary or even possible to specify each of them. </xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:attribute name="minimumLevel" type="minimumExperienceLevel" use="required"/>
                                    <xs:attribute name="type" type="xs:string" use="required">
                                      <xs:annotation>
                                        <xs:documentation xml:lang="en">@TODO create simpleType for 'controlled vocabulary' of technologies</xs:documentation>
                                      </xs:annotation>
                                    </xs:attribute>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="testMode" type="requiredTestMode" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="files">
                <xs:annotation>
                  <xs:documentation xml:lang="en">The file or files that make up  the test case. Usually there is only one file, but some checkpoints or success criteria, e.g. those on consistent navigation, consistent style etc, require a set of files. (In that case, we call the test case 'compound'.)</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence maxOccurs="unbounded">
                    <xs:element name="file">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="httpRequest" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="httpHeaders" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="header" maxOccurs="unbounded">
                                        <xs:complexType>
                                          <xs:attribute name="name" type="httpMethod" use="required"/>
                                          <xs:attribute name="value" type="xs:string" use="required">
                                            <xs:annotation>
                                              <xs:documentation xml:lang="en">@TODO: (HTTP head value) can the type be refined?</xs:documentation>
                                            </xs:annotation>
                                          </xs:attribute>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="httpBody" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="variable" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                          <xs:attribute name="name" type="xs:string" use="required">
                                            <xs:annotation>
                                              <xs:documentation xml:lang="en">@TODO: (HTTP body variable name) can the type be refined?</xs:documentation>
                                            </xs:annotation>
                                          </xs:attribute>
                                          <xs:attribute name="value" type="xs:string" use="required">
                                            <xs:annotation>
                                              <xs:documentation xml:lang="en">@TODO: (HTTP body variable value) can the type be refined?</xs:documentation>
                                            </xs:annotation>
                                          </xs:attribute>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="mediatype" type="MIMEType" use="optional"/>
                              <xs:attribute name="enctype" type="encoding" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute ref="xlink:href"/>
                        <xs:attribute ref="hrefLang"/><!-- 2005-08-11: removed btw-prefix; validates with xni.XMLGrammarBuilder and XSV -->
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="sequential" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Indicates whether the order of the files (if there are several) matters for the evaluation of the test case. 'true' means that the files should be processed in the order in which they occur in the test case description. 'false' means that the files can be processed in random order. The default value is 'false'.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="complexity" type="testcaseComplexity" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="rules">
          <xs:annotation>
            <xs:documentation xml:lang="en">Captures whether the test case is expected to fail or passes relevant 'rules' (WCAG 1.0 checkpoints, WCAG 2.0 success criteria, Section 508 rules, etc.) IMPORTANT NOTE: We only specify whether the test case passes or fails the (WCAG 2.0) rule under consideration, so a 'pass' may still mean that the test cases fails with regard to other rules (see http://lists.w3.org/Archives/Public/w3c-wai-gl/2005AprJun/0117.html ).</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="rule" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation xml:lang="en">A WCAG 1.0 checkpoint, WCAG 2.0 success criterion or Section 508 rule. In BenToWeb, we always refer to WCAG 2.0 success criteria; other 'rule sets' are strictly optional, so expected evaluation results for these other rules sets are purely auxiliary information.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="locations">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">The location or locations where relevant (especially faulty) code occurs.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="location" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">The location of the code. Sometimes a combination of features (markup, rules, etc.) constitute an error when taken together (even if these features are not errors when considered separately). In that case, there should be one location element per feature/error. Use at least XPath or a combination of line and column number.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:attribute name="line" type="xs:string" use="optional">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Line number where the relevant code occurs. Use in combination with column.</xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                              <xs:attribute name="column" type="xs:string" use="optional">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Column number where the relevant code occurs. Use in combination with line. Note: use the "column number where the current document event ends" (for compatibility with SAC).</xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                              <xs:attribute name="xpath" type="xs:string" use="optional">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">XPath 1.0 expression, as defined in http://www.w3.org/TR/1999/REC-xpath-19991116.html.</xs:documentation>
                                </xs:annotation>
                                <!-- @TODO: Is there a more specific type? -->
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="expectedResult" type="expectedEvaluationResult" use="required">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Value indicating whether the test case is epected to pass or fail with regard to the 'rule'. 'cannotTell' is used if there is ambiguity of unclarity (e.g. dependence on the implementation or version of a user agent or assistive technology, ambiguity in the accessibilty rules or in the specification of the file format).</xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="functionalOutcome">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">A description of why the test case passes or fails in terms that are relevant to a user's experience (as apposed to technical comments on source code).</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element ref="btw:p"/>
                        </xs:sequence>
                        <xs:attribute ref="xml:lang" use="optional"/>
                        <!-- deleted: type="xs:language"   -->
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="techComment" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">A technical description of why the test case passes or fails.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence maxOccurs="unbounded">
                          <xs:element ref="btw:p"/>
                        </xs:sequence>
                        <xs:attribute ref="xml:lang" use="optional"/>
                        <!-- deleted: type="xs:language"   -->
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:anyURI" use="required">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">This is a pointer to a checkpoint (WCAG 1.0), success criterion (WCAG 2.0), rule (Section 508) etc described in ruleset.xml.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation xml:lang="en">A unique ID for the test case description. The following convention should be used: technology_wcag2_date_x.y_lz_scz_nnn, where technology = xhtml1 | xhtml2 | css2 | xforms1 | &#8230;; wcag2 is constant; date = date (of WCAG2 draft) in yyyymmdd format; x.y = number of WCAG 2.0 guideline, e.g. 1.1, 1.2, &#8230;; lz = WCAG 2.0 level: l1 | l2 | l3; scz = number of WCAG 2.0 success criterion, e.g. sc1, sc2, &#8230;; nnn = number of the test case, e.g. 001, 002, &#8230;. The ID for a XHTML test case for guideline 1.1 level 1 success criterion 1 may look like this: xhtml1_wcag2_20041119_1.1_l1_sc1_001.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute ref="xml:lang" use="optional"/>
      <!-- deleted: type="xs:language"   -->
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="testcaseComplexity">
    <xs:annotation>
      <xs:documentation xml:lang="en">A test case is atomic if it applies to only one checkpoint (WCAG 1.0) or success criterion (WCAG 2.0), or complex if it applies to multiple checkpoints or success criteria.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="atomic"/>
      <xs:enumeration value="complex"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="requiredTestMode">
    <xs:annotation>
      <xs:documentation xml:lang="en">The test mode(s) required for this test case: only manual evaluation (end user), only automatic evaluation (accessibility evaluation tool) or both. Note that 'both' does not mean 'integrated' (an evaluation combining an evaluation tool and manual checking).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="both"/>
      <xs:enumeration value="manual"/>
      <xs:enumeration value="automatic"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="minimumExperienceLevel">
    <xs:annotation>
      <xs:documentation xml:lang="en">A scale from 1 (low/novice) to 5 (high/expert) that indicates a user's (required) experience.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:positiveInteger">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="httpMethod">
    <xs:annotation>
      <xs:documentation xml:lang="en">HTTP method (not all allowed methods are relevant to test suites, namely 'trace', 'options', 'delete', 'connect').</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="get"/>
      <xs:enumeration value="post"/>
      <xs:enumeration value="put"/>
      <xs:enumeration value="head"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MIMEType">
    <xs:annotation>
      <xs:documentation xml:lang="en">MIME types @TODO complete [see 'encoding' below and list of MIME types at http://www.iana.org/assignments/media-types/].</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="text/css"/>
      <xs:enumeration value="text/html"/>
      <xs:enumeration value="text/plain"/>
      <xs:enumeration value="text/richtext"/>
      <xs:enumeration value="text/rtf"/>
      <xs:enumeration value="text/xml"/>
      <xs:enumeration value="application/pdf"/>
      <xs:enumeration value="application/postscript"/>
      <xs:enumeration value="application/rdf+xml"/>
      <xs:enumeration value="application/rtf"/>
      <xs:enumeration value="application/sgml"/>
      <xs:enumeration value="application/soap+xml"/>
      <xs:enumeration value="application/vnd.ms-works"/>
      <xs:enumeration value="application/vnd.ms-wpl"/>
      <xs:enumeration value="application/x-java"/>
      <xs:enumeration value="application/x-javascript"/>
      <xs:enumeration value="application/x-gzip"/>
      <xs:enumeration value="application/x-msaccess"/>
      <xs:enumeration value="application/x-msexcel"/>
      <xs:enumeration value="application/x-zip"/>
      <xs:enumeration value="application/xhtml+xml"/>
      <xs:enumeration value="application/xml"/>
      <xs:enumeration value="application/xml-dtd"/>
      <xs:enumeration value="application/xml-external-parsed-entity"/>
      <xs:enumeration value="application/zip"/>
      <xs:enumeration value="audio/MPA"/>
      <xs:enumeration value="audio/MP4A-LATM"/>
      <xs:enumeration value="audio/mpeg"/>
      <xs:enumeration value="audio/mpeg4-generic"/>
      <xs:enumeration value="audio/x-aiff"/>
      <xs:enumeration value="audio/x-midi"/>
      <xs:enumeration value="audio/x-mod"/>
      <xs:enumeration value="audio/x-mp3"/>
      <xs:enumeration value="audio/x-wav"/>
      <xs:enumeration value="image/bmp"/>
      <xs:enumeration value="image/cgm"/>
      <xs:enumeration value="image/gif"/>
      <xs:enumeration value="image/jpeg"/>
      <xs:enumeration value="image/jp2"/>
      <xs:enumeration value="image/png"/>
      <xs:enumeration value="image/tiff"/>
      <xs:enumeration value="image/vnd.wap.wbmp"/>
      <xs:enumeration value="model/vrml"/>
      <xs:enumeration value="multipart/encrypted"/>
      <xs:enumeration value="multipart/form-data"/>
      <xs:enumeration value="multipart/signed"/>
      <xs:enumeration value="video/DV"/>
      <xs:enumeration value="video/JPEG"/>
      <xs:enumeration value="video/mpeg"/>
      <xs:enumeration value="video/mpeg4-generic"/>
      <xs:enumeration value="video/quicktime"/>
      <xs:enumeration value="video/raw"/>
      <xs:enumeration value="video/x-sgi-movie"/>
      <xs:enumeration value="video/x-msvideo"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="encoding">
    <xs:annotation>
      <xs:documentation xml:lang="en">Encoding types (e.g. for use in forms submission with HTML form [enctype] and with XForms. @TODO complete. [refer to 'media types': RFC 2045: 'Multipurpose Internet Mail Extensions (MIME) Part One: Format of Internet Message Bodies' at http://www.ietf.org/rfc/rfc2045.txt]</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="application/soap+xml"/>
      <xs:enumeration value="application/x-www-form-urlencoded"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="expectedEvaluationResult">
    <xs:annotation>
      <xs:documentation xml:lang="en">Evaluation result expected by the developer of the test case.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="pass"/>
      <xs:enumeration value="fail"/>
      <xs:enumeration value="cannotTell"/>
      <xs:enumeration value="notApplicable"/>
    </xs:restriction>
  </xs:simpleType>
  <!-- <xs:complexType name="htmlInline.btw" mixed="true">
    <xs:annotation>
      <xs:documentation xml:lang="en">Mixed content (for use in labels, names, comments, &#8230;).</xs:documentation>
    </xs:annotation>
    <xs:all> [[@@ maxOccurs for xs:elements in xs:all can only be 0 or 1; this is a problem ]]
      <xs:element ref="html:a"/>
      <xs:element ref="html:abbr"/>
      <xs:element ref="html:acronym"/>
      <xs:element ref="html:code"/>
      <xs:element ref="html:em"/>
      <xs:element ref="html:q"/>
      <xs:element ref="html:span"/>
      <xs:element ref="html:strong"/>
      <xs:element ref="html:sub"/>
      <xs:element ref="html:sup"/>
    </xs:all>
    <xs:attribute ref="xml:lang" use="optional"/>[[ deleted: type="xs:language" ]]
  </xs:complexType> -->
  <xs:complexType name="htmlInline" mixed="true">
    <xs:annotation>
      <xs:documentation xml:lang="en">Mixed content (for use in labels, names, comments, &#8230;).</xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:group ref="html:special.pre"/>
      <!-- br, span, bdo, map -->
      <xs:group ref="html:phrase"/>
      <!-- em, strong, dfn, code, q, samp, kbd, var, cite, abbr, acronym, sub, sup -->
    </xs:choice>
    <xs:attribute ref="xml:lang" use="optional"/>
    <!-- deleted: type="xs:language"   -->
  </xs:complexType>
  <xs:element name="p" type="htmlInline">
    <xs:annotation>
      <xs:documentation xml:lang="en">HTML-style paragraph, but greatly restricted.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!--xs:complexType name="htmlParagraph" mixed="true">
    <xs:annotation>
      <xs:documentation xml:lang="en">HTML-style paragraph. @TODO: HTML paragraph allows too much freedom. Restriction needs more work.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="html:p">
        <xs:choice>
          <xs:sequence>
            <xs:group ref="html:fontstyle" minOccurs="0" maxOccurs="0"/>
            <xs:group ref="html:inline.forms" minOccurs="0" maxOccurs="0"/>
          </xs:sequence>
          <xs:element ref="html:map" minOccurs="0" maxOccurs="0"/>
          <xs:element ref="html:img" minOccurs="0" maxOccurs="0"/>
          <xs:element ref="html:object" minOccurs="0" maxOccurs="0"/>
          <xs:element ref="html:script" minOccurs="0" maxOccurs="0"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType-->
  <xs:attribute name="hrefLang" type="xs:language">
    <xs:annotation>
      <xs:documentation source="http://www.w3.org/TR/1999/REC-html401-19991224/struct/links.html#adef-hreflang">Language of the referenced resource (see HTML's hreflang attribute).</xs:documentation>
    </xs:annotation>
  </xs:attribute>
</xs:schema>
